@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
}
.banner {
  text-align: center;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #51a551;
  margain-top: 1px;
  margain-bottom: 1px;
}
.banner2 {
  text-align: center;
  margin: auto;
  position: relative;
  background-color: #51a551;
  margain-top: 1px;
  margain-bottom: 1px;
}
a.banner2 {
  color: white;
}
