@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
}
.banner {
  text-align: center;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #51a551;
  margain-top: 1px;
  margain-bottom: 1px;
}
a.abanner {
 text-decoration: none;
 text-align: center;
 color: white;
 padding: 10px;
 font-size: 20px;
 transition-duration: 0.45s;
}
a.abanner:hover {
  font-size: 22px;
}
a {
  color: black;
}
iframe {
 border: 0; 
}
.content {
  margin-left: 10px;
  margin-right: 10px;
  margain-top: 10px;
  margain-bottom: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2d857;
}
